[Unit]
Description=EPG update service
After=tvheadend.service
Requires=tvheadend.service
 
[Service]
Type=forking
Nice=19
ExecStart=/usr/local/bin/horepgd.py
PIDFile=/var/run/horepgd.pid
